h1 {
  font-family: "Metropolis Medium", sans-serif;
  letter-spacing: 0rem;
  font-size: 72px;
  margin-bottom: 30px;
  font-weight: bold;
}

.layout-grid {
  padding: 0 24px;
  margin: 0 auto;

  width: 100%;
  height: 3600px;
  /* min-width: 480px; */
  max-width: 1024px;
  /* display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 66% 33%;
  grid-template-rows: 120px 600px 1fr 1fr 1fr;
  gap: 0px 60px; */
}

.about,
.projects,
.contact {
  margin: 0 auto;
}

.hero {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
}

.hero-text {
  margin-right: auto;
  background-color: #fcfafc99;
}

.anything {
  height: 25px;
  width: 25px;
  background-color: red;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 24px 0;
  font-size: 24px;
  background-color: #fcfafc;
  width: fit-content;
  nav {
    ul {
      display: flex;
      align-items: center;
    }
    li {
      display: inline-block;
      margin-right: 36px;
    }
    li:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #474747;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffed02;
    border: none;
    padding: 12px 18px;
    border-radius: 24px;
    font-size: 24px;
    cursor: pointer;
  }
}

.animation-scroll {
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(-50%, 0); */
  transform: translateY(-120px);
  width: 350px;
  height: 80vh;
  z-index: -2;
  /* opacity: 0.1; */
  /* background-color: blue; */
  overflow: hidden;

  img {
    width: 40px;
  }
  display: flex;
  justify-content: space-around;
}

.animation-column {
  height: 2400px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.animation-column img {
  opacity: 0.15;
  /* width: 30px; */
}

.opacity-up {
  opacity: 0.5;
}

.outer {
  transform: translateY(-60%);
  height: 7200px;
  justify-content: space-evenly;
}

.inner {
  height: 7200px;
  justify-content: space-between;
}

.logo-image {
}

.red-box {
  background-color: red;
  height: 25px;
  width: 25px;
}
.blue-box {
  background-color: blue;
  height: 25px;
  width: 25px;
}
.yellow-box {
  background-color: yellow;
  height: 25px;
  width: 25px;
}

.test {
  height: 3200px;
}

.animation-scroll-row {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.fixed {
  position: relative;
}

.about {
  max-width: 600px;
  margin-top: 150px;
}

@media all and (max-width: 1001px) {
  .hero {
    justify-content: center;
  }

  .hero-text {
    margin-right: 0px;
    order: 2;
  }

  header {
    margin: 40px auto;

    font-size: 24px;
    button {
      font-size: 24px;
    }
    nav {
      ul {
        justify-content: center;
      }
    }
  }
}

/* .hero-text {
  grid-area: 2 / 1 / 3 / 2;
}

.hero-image {
  grid-area: 2 / 2 / 3 / 3;
}

.about {
  grid-area: 3 / 1 / 4 / -1;
}
.header {
  grid-area: 1 / 1 / 2 / 3;
  height: 120px;
}
.projects {
  grid-area: 4 / 1 / 5 / 3;
}
.contact {
  grid-area: 5 / 1 / 6 / 3;
} */

#title-alex span {
  color: #eb539f;
}

#title-fullstack span {
  color: #6ce4cf;
}

#title-developer span {
  color: #5ac4f6;
}

#title-developer {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
}

#title-period {
  height: 12px;
  width: 12px;
  background-color: #ffed02;

  position: absolute;
  transform: translate(50%, -150%);
  right: 0;
}

#profile-image {
  height: 225px;
  width: 225px;
  display: block;
}

.profile-image-container {
  padding-left: 75px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 75px;
  position: relative;
}

.profile-image-with-squares {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#blue-box {
  background-color: #5ac4f6;
  height: 100px;
  width: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#red-box {
  background-color: #eb539f;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/**
      * Basic CSS Media Query Template
      * ------------------------------------------
      *  Responsive Grid Media Queries - 1280, 1024, 768, 480
      *   1280-1024   - desktop (default grid)
      *   1024-768    - tablet landscape
      *   768-480     - tablet
      *   480-less    - phone landscape & smaller
      * --------------------------------------------
      */

@media all and (max-width: 768px) {
  h1 {
    font-size: 64px;
    margin-bottom: 24px;
    letter-spacing: -0.2rem;
  }
  #title-period {
    height: 8px;
    width: 8px;
  }

  header {
    ul {
      font-size: 24px;
      li {
        margin-right: 24px;
      }
    }
    button {
      font-size: 24px;
      padding: 8px 12px;
    }
  }
}

@media all and (max-width: 480px) {
  h1 {
    font-size: 48px;
    margin-bottom: 18px;
  }
  #title-period {
    height: 8px;
    width: 8px;
  }

  header {
    ul {
      font-size: 18px;
      li {
        margin-right: 18px;
      }
    }
    button {
      font-size: 18px;
      padding: 8px 12px;
    }
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}
