header {
  grid-row: 1 /2;
  grid-column: 1 / 2;

  height: fit-content;

  padding-top: 24px;

  font-size: 24px;
  background-color: #fcfafc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  nav {
    ul {
      display: flex;
      align-items: center;
    }
    li {
      display: inline-block;
      margin-right: 36px;
    }
    li:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #474747;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffed02;
    border: none;
    padding: 12px 18px;
    border-radius: 24px;
    font-size: 24px;
    cursor: pointer;
  }
}

h1 {
  font-family: "Metropolis Medium", sans-serif;
  letter-spacing: 0rem;
  font-size: 72px;
  margin-bottom: 30px;
  font-weight: bold;
  white-space: nowrap;
}

h3 {
  /* white-space: nowrap; */
  line-height: 1.4;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
}

.layout-grid {
  padding: 24px 24px;
  margin: 0 auto;

  width: 100%;
  min-width: 375px;
  max-width: 1024px;

  display: grid;
  grid-template-columns: 1fr 375px;
  grid-template-rows: 120px fit-content fit-content fit-content;
  row-gap: 60px;
}

.hero {
  z-index: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 600px;
}

.hero-text {
  margin-right: auto;
  background-color: #fcfafc99;
  padding: 24px 0;
}

.hero-title {
  margin-top: 48px;
  margin-bottom: 32px;
}

.hero-links {
  background-color: #fcfafc99;
  display: flex;
  gap: 48px;
  a {
    text-decoration: none;
  }

  img {
    width: 42px;
  }
}

.about,
.projects,
.contact {
  z-index: 1;
  height: max-content;
  background-color: #fcfafc99;
}

.facts {
  width: 100%;
  max-width: 600px;

  img {
    height: 24px;
    /* border-radius: 6px; */

    margin-right: 12px;
  }

  .icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  .label {
    font-family: "Metropolis Semi-Bold";
    margin-right: 6px;
  }

  mark {
    display: inline;
    white-space: nowrap;
    margin-right: 6px;
  }
}

.about {
  grid-row: 3/4;
  grid-column: 1/2;
}

.projects {
  grid-row: 4/5;
  grid-column: 1/-1;
}

.contact {
  grid-row: 5/6;
  grid-column: 1/-1;
}

.scroll-background {
  z-index: -2;

  grid-row: 2/4;
  grid-column: 2/-1;

  height: 100%;
  /* max-height: 1200px; */
}

.animation-scroll {
  transform: translateY(-40px);
  width: 350px;

  z-index: -2;

  overflow: hidden;

  height: 105%;

  img {
    width: 40px;
  }

  display: flex;
  justify-content: space-around;
}

.animation-column {
  display: flex;
  flex-direction: column;
}

.logo-image {
  opacity: 0.2;
}

.outer {
  transform: translateY(-40%);
  height: 200%;
  justify-content: space-between;
}

.inner {
  height: 200%;
  /* transform: translateY(-10%); */
  justify-content: space-between;
}

#title-alex span {
  color: #eb539f;
}

#title-fullstack span {
  color: #6ce4cf;
}

#title-developer span {
  color: #5ac4f6;
}

#title-developer {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
}

#title-period {
  height: 12px;
  width: 12px;
  background-color: #ffed02;

  position: absolute;
  transform: translate(50%, -150%);
  right: 0;
}

#profile-image {
  height: 225px;
  width: 225px;
  display: block;
}

.profile-image-container {
  padding-left: 75px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.profile-image-with-squares {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#blue-box {
  background-color: #5ac4f6;
  height: 100px;
  width: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#red-box {
  background-color: #eb539f;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/**
      * Basic CSS Media Query Template
      * ------------------------------------------
      *  Responsive Grid Media Queries - 1280, 1024, 768, 480
      *   1280-1024   - desktop (default grid)
      *   1024-768    - tablet landscape
      *   768-480     - tablet
      *   480-less    - phone landscape & smaller
      * --------------------------------------------
      */

@media all and (min-width: 1001px) {
  .hero-text {
    background: none;
  }
}

@media all and (max-width: 1001px) {
  .animation-scroll {
    width: 500px;
  }

  .logo-image {
    opacity: 0.1;
  }

  .hero {
    justify-content: center;
    gap: 60px;
    margin-bottom: 480px;
  }

  .about,
  .projects,
  .contact {
    grid-column: 1/-1;
  }

  .facts {
    grid-column: 1/-1;
    margin: 0 auto;
    width: fit-content;
    /* max-width: 100%; */
    /* transform: translate(25px, 0); */
  }

  .hero-text {
    margin-right: 0px;
    order: 2;
  }

  .scroll-background {
    grid-column: 1/-1;

    margin-left: auto;
    margin-right: auto;
  }

  header {
    grid-column: 1 / -1;
    justify-content: center;
    margin: 40px auto;

    font-size: 24px;
    button {
      font-size: 24px;
    }
    nav {
      ul {
        justify-content: center;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1001px) {
  .hero {
    /* justify-content: center;
    gap: 60px; */
    margin-bottom: 320px;
  }
  .facts {
    width: 800px;
  }
}

@media all and (max-width: 768px) {
  .hero {
    gap: 30px;
    margin-bottom: 180px;
  }

  .facts {
    margin: 60px auto;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 24px;
    letter-spacing: -0.2rem;
  }

  h3 {
    font-size: 1.1rem;
    white-space: collapse balance;
    white-space: normal;
  }

  #title-period {
    height: 8px;
    width: 8px;
  }

  header {
    ul {
      font-size: 24px;
      li {
        margin-right: 24px;
      }
    }
    button {
      font-size: 24px;
      padding: 8px 12px;
    }
  }
}

@media all and (max-width: 480px) {
  h1 {
    font-size: 48px;
    margin-bottom: 18px;
  }

  h3 {
    font-size: 1.2rem;
  }

  .layout-grid {
    padding: 0;
    row-gap: 0;
  }

  .about {
    padding: 0 12px;
  }

  #title-period {
    height: 8px;
    width: 8px;
  }

  header {
    ul {
      font-size: 1.2rem;
      li {
        margin-right: 18px;
      }
    }
    button {
      font-size: 1.2rem;
      padding: 8px 12px;
    }
  }
}
