@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: Metropolis;
  src: url(./assets/font/Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis Medium;
  src: url(./assets/font/Metropolis-Medium.otf);
}

@font-face {
  font-family: Metropolis Semi-Bold;
  src: url(./assets/font/metropolis.semi-bold.otf);
}

:root {
  font-family: "Metropolis", sans-serif;
  color: #474747;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fcfafc;
  background-image: radial-gradient(#dcdcdc 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  height: 100vh;
}

button {
  font-family: "Product Sans", sans-serif;
}
